/*.db
/*.dll
/*.exe
/*.layout
/*.romdb
/*.vcxproj.filters
/*.vcxproj.user
/.svn
/.vs
/bin
/CMakeCache.txt
/CMakeFiles
/CMakeSettings.json
/cmake_install.cmake
/Debug
/examples/**/files
/Makefile
/Release
/romdb.dir
/Win32
/x64
